body {
  background-color: rgb(229, 226, 226);
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.logo {
  margin-top: 20px;
}

@media screen and (max-width: 600px) {
  .logo {
    width: 300px;
  }
}
